{:duct.core/project-ns  infant
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 
 :duct.router/cascading
 [#ig/ref :infant.handler/queries]

 :duct.core/handler {:middleware [#ig/ref :infant.middleware.cors/add-cors]}

 :infant.handler/queries {}
 :infant.middleware.cors/add-cors {}}
